In [ ]:
import pandas as pd
from datetime import datetime

In [16]:
df=pd.read_csv('~/vs_workspace/Spark_project/tunisia_weather.csv')

In [17]:
df.isna().sum()

id                0
city_name         1
humidity          0
latitude          0
longtitude        0
sunset_time       0
surnise_time      0
temperature       0
time_of_record    0
wind_speed        0
dtype: int64

In [18]:
df.shape

(363, 10)

In [19]:
df.dropna(inplace=True)

In [20]:
df.head()

,id,city_name,humidity,latitude,longtitude,sunset_time,surnise_time,temperature,time_of_record,wind_speed
0,1736266342,Gafsa,55,34.4311,8.7757,1736267401,1736231517,15.06,1736266342,4.63
1,1736265533,Fernana,82,36.7422,8.6626,1736267078,1736231895,8.21,1736265533,6.04
2,1736267875,Gafsa,55,34.4311,8.7757,1736267401,1736231517,15.06,1736267875,4.63
3,1736265655,Beni Kheddache,54,33.1381,10.2690,1736267230,1736230971,13.32,1736265655,6.26
4,1736267631,Ben Arous,77,36.7134,10.2096,1736266711,1736231519,14.90,1736267631,6.17

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362 entries, 0 to 362
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              362 non-null    int64
 1   city_name       362 non-null    object
 2   humidity        362 non-null    int64
 3   latitude        362 non-null    float64
 4   longtitude      362 non-null    float64
 5   sunset_time     362 non-null    int64
 6   surnise_time    362 non-null    int64
 7   temperature     362 non-null    float64
 8   time_of_record  362 non-null    int64
 9   wind_speed      362 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 31.1+ KB

In [24]:
df['date'] = df['time_of_record'].apply(lambda x: datetime.fromtimestamp(x))
df['sunrise'] = df['surnise_time'].apply(lambda x: datetime.fromtimestamp(x))
df['sunset'] = df['sunset_time'].apply(lambda x: datetime.fromtimestamp(x))

In [25]:
df.head(10)

,id,city_name,humidity,latitude,longtitude,sunset_time,surnise_time,temperature,time_of_record,wind_speed,date,sunrise,sunset
0,1736266342,Gafsa,55,34.4311,8.7757,1736267401,1736231517,15.06,1736266342,4.63,2025-01-07 11:12:22,2025-01-07 01:31:57,2025-01-07 11:30:01
1,1736265533,Fernana,82,36.7422,8.6626,1736267078,1736231895,8.21,1736265533,6.04,2025-01-07 10:58:53,2025-01-07 01:38:15,2025-01-07 11:24:38
2,1736267875,Gafsa,55,34.4311,8.7757,1736267401,1736231517,15.06,1736267875,4.63,2025-01-07 11:37:55,2025-01-07 01:31:57,2025-01-07 11:30:01
3,1736265655,Beni Kheddache,54,33.1381,10.2690,1736267230,1736230971,13.32,1736265655,6.26,2025-01-07 11:00:55,2025-01-07 01:22:51,2025-01-07 11:27:10
4,1736267631,Ben Arous,77,36.7134,10.2096,1736266711,1736231519,14.90,1736267631,6.17,2025-01-07 11:33:51,2025-01-07 01:31:59,2025-01-07 11:18:31
5,1736265519,Bab El Jazira,67,36.8065,10.1815,1736266703,1736231540,15.99,1736265519,7.72,2025-01-07 10:58:39,2025-01-07 01:32:20,2025-01-07 11:18:23
6,1736268048,Metlaoui,49,34.2744,8.4459,1736267504,1736231573,14.11,1736268048,2.86,2025-01-07 11:40:48,2025-01-07 01:32:53,2025-01-07 11:31:44
7,1736265442,Fernana,82,36.7422,8.6626,1736267078,1736231895,8.21,1736265442,6.04,2025-01-07 10:57:22,2025-01-07 01:38:15,2025-01-07 11:24:38
8,1736265594,Kairouan,34,35.7976,10.1260,1736266872,1736231397,19.24,1736265594,3.09,2025-01-07 10:59:54,2025-01-07 01:29:57,2025-01-07 11:21:12
9,1736268071,Kairouan,42,35.7976,10.1260,1736266872,1736231397,18.24,1736268071,3.09,2025-01-07 11:41:11,2025-01-07 01:29:57,2025-01-07 11:21:12

In [26]:
df.columns

Index(['id', 'city_name', 'humidity', 'latitude', 'longtitude', 'sunset_time',
       'surnise_time', 'temperature', 'time_of_record', 'wind_speed', 'date',
       'sunrise', 'sunset'],
      dtype='object')

In [27]:
df=df[['id', 'city_name', 'humidity', 'latitude', 'longtitude','temperature','wind_speed', 'date',
       'sunrise', 'sunset']]

In [29]:
df.shape

(362, 10)

In [30]:
df.to_csv('~/vs_workspace/Spark_project/clean_data.csv',encoding='utf-8')